* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 200px;
  /* border : 2px solid white; */
}

.box {
  width: 200px;
  height: 300px;
  background-color: #fff;
  /* border: 2px solid #ddd; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.draggable {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #494eea;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.box.over {
  border-color: #494eea;
  background-color: #f0f0ff;
}
